body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 50px;
  }
  
  button {
    padding: 20px 30px;
    margin-bottom: 50px;
    font-size: 1.7em;
    font-weight: bold;
    background-color: #ff8a00;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #e67700;
  }
  
  #dogList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 0;
    list-style: none;
    margin: 0;
  }
  
  #dogList li {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #f1f1f1;
  }
  
  #dogList li:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  #dogList img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 10px;
  }
  
#dogImage {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    display: block; 
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    object-fit: contain;
  }  